<%if logged_in?%>
<div class="create">
  <form action="/create" method="post">
    <ul>
     <p>Title: <input type="text" name="post[title]" placeholder="Title goes here!"></p>
     <p>Content: <textarea cols="50" rows="35" name="post[content]" placeholder="Blog Away!"></textarea></p>
     <input type="hidden" name="post[user_id]" value="<%=current_user.id%>">
     <input type="submit" value="Create Blog!">
    </form>
    <%if @post%>
    <%if @post.errors%>
    <%@post.errors.each do |key, error|%>
    <p><%=error%></p>
      <%end%>
      <%end%>
      <%end%>
</div>
<%else%>
<h1> Access denied!</h1>
<p><a href="/">Homepage</a></p>
<%end%>
