<div class="container">
<div class="create_account">
  <form id="create_account" action="/create_user" method="post">
    <ul>
     <p>Name: <input type="text" name="post[name]" placeholder="Your name here!" autofocus></p>
     <p>Email: <input type="text" name="post[email]" placeholder="Email goes here!"></p>
     <p>Password: <input type="password" name="post[password]" placeholder="password"></p>
     <input type="submit" value="Create Account!">
    </form>
    <%if @user%>
    <%if @user.errors%>
    <%@user.errors.each do |key, error|%>
    <p><%=error%></p>
      <%end%>
      <%end%>
      <%end%>
</div>
</div>
