<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <div class="nav_bar">
    <p>Stream of Consciousness</p>
    <p>Where you can share your every thought....</p>
    </div>
    <div class="nav_links">
    <ul>
    <%if !current_user%>
    <li><a href="/login">Login</a></li>
    <li><a href="/create_account">Create an Account</a></li>
    <%end%>
    <li><a href="/all_posts">Blogs List</a></li>
    <li><a href="/bloggers">Our Bloggers</a></li>
    <li><a href="/">Home</a></li>
    </ul>
    <%if logged_in?%>
    <ul>
    
    <li><a href="/create">Create a Blog!</a></li>
    <li><a href="/users/user_page">Go to your user page!</a></li>
    <li><a href="/logout">Logout</a></li>
    <li>You are logged in as <%=@current_user.name%></li>
    </ul>
    <%end%>
  
  </div>
  <title></title>
</head>
<body>
  <div class="container">
  <%= yield %>
</div>
</body>
</html>
