<div class="container">
  <h1>Welcome to <%=@user.name%>'s Public Page</h1>
  <h3>Check out their blogs</h3>
  <ul>
  <%@user.posts.each do |post|%>

  <li>Title: <a href="/posts/<%=post.id%>"><%=post.title%></a></li>
  <%end%>
  </ul>
</div>
